<footer id="main-footer">
    <div class="container">
        <div class="grid">
            <div class="unit one-of-two">
                <h3>About</h3>
                <p>I am a web developer from London currently working at <a href="http://www.lyst.com">Lyst</a>. Sometimes I say things on <a href="http://twitter.com/intent/user?screen_name=jonbretman">Twitter</a>, put code on <a href="http://www.github.com/jonbretman">Github</a>, and give <a href="https://speakerdeck.com/jonbretman">talks</a> on code related matters.</p>
                <p><a href="/about.html">Read More...</a></p>
            </div>
            <div class="unit one-of-two">
                <h3>Credits</h3>
                <p>This site is build using <a href="http://gruntjs.com/">Grunt</a>, fonts are from <a href="http://www.google.com/fonts/">Google Fonts</a>, CSS uses <a href="http://necolas.github.io/normalize.css/">Normalize.css</a> and some of <a href="http://daneden.me/toast/">Toast.css</a>. Comments by <a href="http://disqus.com/">Disqus</a>.</p>
            </div>
        </div>
    </div>
</footer>